{extend name="base:base" /}
<!-- Page Content -->
{block name='right'}
<div id="content">
	<!-- Top Navigation -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="ti-menu" id="sidebarCollapse"></span>
			</div>
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<!--<a class="nav-link" data-toggle="modal" data-target=".lorvens-modal-lg">-->
						<!--<span class="ti-search"></span>-->
					<!--</a>-->
					<div class="modal fade lorvens-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-lorvens">
							<div class="modal-content lorvens-box-shadow">
								<div class="modal-header">
									<h5 class="modal-title">查询内容:</h5>
											<span class="ti-close" data-dismiss="modal" aria-label="Close">
											</span>
								</div>
								<div class="modal-body">
									<form action="{:url('Member/index')}" method="post">
										<div class="form-group">
											<input type="text" name="search" class="form-control" id="search-term" placeholder="请输入">
											<button type="submit" class="btn btn-lorvens lorvens-bg">
												<span class="ti-location-arrow"></span>
												查询
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!--<li class="nav-item">-->
					<!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
						<!--<span class="ti-announcement"></span>-->
					<!--</a>-->
					<!--<div class="dropdown-menu lorvens-box-shadow notifications animated flipInY">-->
						<!--<h5>Notifications</h5>-->
						<!--<a class="dropdown-item" href="#">-->
							<!--<span class="ti-comment-alt"></span> New User Registered</a>-->
						<!--<a class="dropdown-item" href="#">-->
							<!--<span class="ti-help-alt"></span> Client asked to send Quotaion</a>-->
						<!--<a class="dropdown-item" href="#">-->
							<!--<span class="ti-time"></span> Have schedule meeting today</a>-->
						<!--<a class="dropdown-item" href="#">-->
							<!--<span class="ti-comment-alt"></span> New User Registered</a>-->
					<!--</div>-->
				<!--</li>-->
				<!--<li class="nav-item">-->
					<!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
						<!--<span class="ti-user"></span>-->
					<!--</a>-->
					<!--<div class="dropdown-menu lorvens-box-shadow profile animated flipInY">-->
						<!--<h5>John Willing</h5>-->
						<!--<a class="dropdown-item" href="#">-->
							<!--<span class="ti-settings"></span> Settings</a>-->
						<!--<a class="dropdown-item" href="#">-->
							<!--<span class="ti-help-alt"></span> Help</a>-->
						<!--<a class="dropdown-item" href="#">-->
							<!--<span class="ti-power-off"></span> Logout</a>-->
					<!--</div>-->
				<!--</li>-->
			</ul>
		</div>
	</nav>
	<!-- /Top Navigation -->
	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="../index/index.html">
				<span class="ti-home"></span>
			</a>
		</li>
		<li class="breadcrumb-item">会员管理</li>
		<li class="breadcrumb-item active">会员档案管理</li>
	</ol>
	<!-- /Breadcrumb -->
	<!-- Main Content -->
	<div class="container-fluid">
		<!-- Page Title -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="block-title">会员档案管理</h3>
			</div>
		</div>
		<!-- /Page Title -->
		<div class="row">
			<div class="col-md-12">
				<div class="widget-area-2 lorvens-box-shadow">
					<!--<h3 class="widget-title">会员档案管理</h3>-->
					<div class="icon-container">
						<a class="btn btn-primary" href="{:url('train/add')}">
							<i class="fa fa-plus" aria-hidden="true"></i>添加训练营
						</a>
						<!--<a class="btn btn-primary" href=""><i class="fa fa-search"></i>查询</a>-->
						<a class="btn btn-primary" data-toggle="modal" data-target=".lorvens-modal-lg">
							<i class="fa fa-search"></i>
							查询
						</a>
						<a class="btn btn-primary" >
							<i class="fa fa-university "></i>
							删除
						</a>
					</div>
					<div class="table-div">
						<table class="table table-hover">
							<thead>
							<tr>
								<th scope="col" width="60">序号</th>
								<th scope="col" width="110">会议名称</th>
								<th scope="col" width="110">开始时间</th>
								<th scope="col" width="110">截止时间</th>
								<th scope="col" width="60">状态</th>
								<th scope="col" width="80">创建人</th>
								<th scope="col" width="120">创建时间</th>
								<th scope="col" width="120">所属工作室</th>
								<th scope="col" width="200" style="text-align: center">操作</th>
							</tr>
							</thead>
							<tbody>
							{volist name="list" id="vo"}
							<tr>
								<th scope="row">{$vo.id}</th>
								<td>{$vo.train_name}</td>
								<td>{$vo.start_at|date='Y-m-d',###}</td>
								<td>{$vo.end_at|date='Y-m-d',###}</td>
								<td>{$vo.status}</td>
								<td>{$vo.creater}</td>
								<td>{$vo.created_at|date='Y-m-d',###}</td>
								<td>{$vo.from_studio}</td>
								<td>
									<a class="cao-font btn btn-primary" href="{:url('Member/memberDetail',array('id'=>$vo['id']))}" >明细</a>
								    <a class="cao-font btn btn-primary" href="{:url('Member/memberMsg',array('id'=>$vo['id']))}"  >修改</a>
									<a class="cao-font btn btn-primary" href="{:url('Member/memberMsg',array('id'=>$vo['id']))}"  >删除</a>
								</td>
							</tr>
							{/volist}
							</tbody>
						</table>
						<!--<nav aria-label="Page navigation example">-->
                            {$page}
						<!--</nav>-->
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Main Content -->
</div>
{/block}