{extend name="base:base" /}
<!-- Page Content -->
{block name='right'}
<div id="content">
	<!-- Top Navigation -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="ti-menu" id="sidebarCollapse"></span>
			</div>
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link" data-toggle="modal" data-target=".lorvens-modal-lg">
						<span class="ti-search"></span>
					</a>
					<div class="modal fade lorvens-modal-lg" tabindex="-1" role="dialog"  aria-hidden="true">
						<div class="modal-dialog modal-lorvens">
							<div class="modal-content lorvens-box-shadow">
								<div class="modal-header">
									<h5 class="modal-title">Serach Client/Project:</h5>
									<span class="ti-close" data-dismiss="modal" aria-label="Close">
									</span>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<input type="text" class="form-control" id="search-term" placeholder="Type text here">
											<button type="button" class="btn btn-lorvens lorvens-bg">
												<span class="ti-location-arrow"></span> Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-announcement"></span>
					</a>
					<div class="dropdown-menu lorvens-box-shadow notifications animated flipInY">
						<h5>Notifications</h5>
						<a class="dropdown-item" href="#">
							<span class="ti-comment-alt"></span> New User Registered</a>
						<a class="dropdown-item" href="#">
							<span class="ti-help-alt"></span> Client asked to send Quotaion</a>
						<a class="dropdown-item" href="#">
							<span class="ti-time"></span> Have schedule meeting today</a>
						<a class="dropdown-item" href="#">
							<span class="ti-comment-alt"></span> New User Registered</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="ti-user"></span>
					</a>
					<div class="dropdown-menu lorvens-box-shadow profile animated flipInY">
						<h5>John Willing</h5>
						<a class="dropdown-item" href="#">
							<span class="ti-settings"></span> Settings</a>
						<a class="dropdown-item" href="#">
							<span class="ti-help-alt"></span> Help</a>
						<a class="dropdown-item" href="#">
							<span class="ti-power-off"></span> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /Top Navigation -->
	<!-- Breadcrumb -->
	<link rel="stylesheet" type="text/css" media="screen,print"  href="http://cloud.zeacen.com/images/rp/index.css?v=2"/>
	<link rel="stylesheet" type="text/css" media="screen,print"  href="http://cloud.zeacen.com/images/rp/reset.css"/>
	<style media="print" type="text/css">
		.mprint{display: none;}
	</style>
	<style type="text/css">
		html,body{
			page-break-inside:avoid;
		}
		.btn {
			transition: background-color 0.25s 0s ease, color 0.25s 0s ease;
		}

		.btn-lg {
			padding: 10px 16px;
			font-size: 18px;
			line-height: 1.3333333;
			border-radius: 6px;
		}
		.btn-success {
			color: #fff;
			background-color: #1ab394;
			border-color: #179d82;
		}
		.btn {
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none;
			border: 1px solid transparent;
			white-space: nowrap;
			padding:  .6em 1.8em;
			font-size: 16px;
			line-height: 1.42857143;
			border-radius: 4px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.end{
			margin-top:20px;
			text-align: center;
			margin-bottom: 20px;
		}
	</style>

	<script src="/public/static/js/echarts.js"></script>


	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html">
				<span class="ti-home"></span>
			</a>
		</li>
		<li class="breadcrumb-item active">膳食评估</li>
	</ol><!-- /Breadcrumb -->
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row">
			<!-- /Form Item -->
			<div class="container">
				<div class="content wrap clearfix">
					<h2 class="content-title">
						Y1会员膳食评估分析报告
					</h2>
					<div class="file-information-view">
						<div class="block-box">
							<div class="block-title">
								<div class="block-title-box">
									<p class="title"><span>档案信息<!-- <img class="img" src="./images/icon-demo.png"> --></span></p>
								</div>
							</div>
							<div class="block-content">
								<div class="user-info">
									<ul class="info-list">
										<li class="info-item clearfix">
											<div class="item fl">
												<span class="item-name">会员编号：</span>
												<p class="item-text">ROC000033027</p>
											</div>
											<div class="item fl">
												<span class="item-name">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
												<p class="item-text">雷中生</p>
											</div>
										</li>
										<li class="info-item clearfix">
											<div class="item fl">
												<span class="item-name">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span>
												<p class="item-text">男</p>
											</div>
											<div class="item fl">
												<span class="item-name">建档日期：</span>
												<p class="item-text">2018-10-09</p>
											</div>
										</li>
										<li class="info-item clearfix">
											<div class="item fl">
												<span class="item-name">电话号码：</span>
												<p class="item-text">15117243877</p>
											</div>
											<div class="item fl">
												<span class="item-name">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</span>
												<p class="item-text">75岁</p>
											</div>
										</li>
										<li class="info-item clearfix">
											<div class="item fl">
												<span class="item-name">身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：</span>
												<p class="item-text">172cm</p>
											</div>
											<div class="item fl">
												<span class="item-name">体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重：</span>
												<p class="item-text">74.5kg</p>
											</div>
										</li>
										<li class="info-item clearfix">
											<div class="item fl">
												<span class="item-name">民&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族：</span>
												<p class="item-text">汉族</p>
											</div>
											<div class="item fl">
												<span class="item-name">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</span>
												<p class="item-text">科研人员</p>
											</div>
										</li>
										<li class="info-item clearfix">
											<div class="item fl">
												<span class="item-name">劳动强度：</span>
												<p class="item-text">


													轻体力活动



												</p>
											</div>
											<div class="item fl">
												<span class="item-name">文化程度：</span>
												<p class="item-text">本科</p>
											</div>
										</li>
										<li class="info-item clearfix">
											<div class="item fl">
												<span class="item-name">身份证号：</span>
												<p class="item-text">620102194306255316</p>
											</div>
											<div class="item fl">
												<span class="item-name">家庭住址：</span>
												<p class="item-text">甘肃省兰州市城关区南昌路243号403</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="user-card">
									<ul class="user-card-list clearfix">
										<li class="user-card-item">
											<div class="card-box">
												<div class="card-title">
													<div class="card-title-box">
														<p class="title"><span>病史信息</span></p>
													</div>
												</div>
												<ul class="card-content">
													<li class="card-content-text">
														<span class="name">慢&nbsp;病&nbsp;史&nbsp;：</span>
														<span class="content">高血压,脂肪肝</span>
													</li>
													<li class="card-content-text">
														<span class="name">既&nbsp;往&nbsp;史&nbsp;：</span>
														<span class="content">高血压,脂肪肝</span>
													</li>
													<li class="card-content-text">
														<span class="name">家&nbsp;族&nbsp;史&nbsp;：</span>
														<span class="content"></span>
													</li>
													<li class="card-content-text">
														<span class="name">用&nbsp;药&nbsp;史&nbsp;：</span>
														<span class="content">降压药</span>
													</li>
													<li class="card-content-text">
														<span class="name">过敏信息：</span>
														<span class="content"></span>
													</li>
												</ul>
											</div>
										</li>
										<li class="user-card-item">
											<div class="card-box">
												<div class="card-title">
													<div class="card-title-box">
														<p class="title"><span>生活史</span></p>
													</div>
												</div>
												<ul class="card-content">
													<li class="card-content-text">
														<span class="name">饮食习惯：</span>
														<span class="content"></span>
													</li>
													<li class="card-content-text">
														<span class="name">运动习惯：</span>
														<span class="content">有</span>
													</li>
													<li class="card-content-text">
														<span class="name">每周锻炼几次：</span>
														<span class="content">

		                                        6次</span>
													</li>
													<li class="card-content-text">
														<span class="name">锻炼时间：</span>
														<span class="content">
		                                    360分钟</span>
													</li>
													<li class="card-content-text">
														<span class="name">睡眠质量：</span>
														<span class="content">良好</span>
													</li>
													<li class="card-content-text">
														<span class="name">睡眠时间：</span>
														<span class="content">8小时</span>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="disease-risk-view">
						<div class="block-box">
							<div class="block-title">
								<div class="block-title-box">
									<p class="title"><span>疾病风险</span></p>
								</div>
							</div>
							<div class="block-content disease-risk-content">
								<div class="risk-assessment-title clearfix">
									<div class="assessment-left name fl">
										风险类型
									</div>

									<div class="assessment-right assessment">
										评估结论
									</div>
								</div>
								<ul class="risk-assessment-list">
									<li class="risk-assessment-item clearfix">
										<span class="assessment-left item-name">心血管疾病</span>
										<p class="assessment-right item-content">您的心血管疾病评估为13.0分，您10年内患心血管疾病的概率2.0%</p>
									</li>
									<li class="risk-assessment-item clearfix">
										<span class="assessment-left item-name">心血管疾病</span>
										<p class="assessment-right item-content">您的心血管疾病评估为13.0分，您10年内患心血管疾病的概率2.0%</p>
									</li>
									<li class="risk-assessment-item clearfix">
										<span class="assessment-left item-name">心血管疾病</span>
										<p class="assessment-right item-content">您的心血管疾病评估为13.0分，您10年内患心血管疾病的概率2.0%</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="medical-assessment-img-view">
						<div class="block-box">
							<div class="block-title">
								<div class="block-title-box">
									<p class="title"><span>体格评估<!-- <img class="img" src="./images/icon-demo.png"> --></span></p>
								</div>
							</div>
							<div class="block-content clearfix">
								<div class="physical-step-img fl">
									<img alt="" src="http://cloud.zeacen.com/img/temp/flag.png" />
								</div>
								<div class="physical-body-img fl">
									<img src="http://cloud.zeacen.com/images/tg/中心型肥胖前期女.jpg" alt="">
								</div>
								<div class="physical-describe fl">
									<ul class="body-describe-list">
										<li class="body-describe-item clearfix">
											<span class="item-title">您的身体状态为: </span>
											<span class="item-content"></span></br>
										</li>
										<li class="body-describe-item clearfix">
											<span class="item-title">BMI: </span>
											<span class="item-content">，。</span></br>
										</li>
										<li class="body-describe-item clearfix">
											<span class="item-title">腰围: </span>
											<span class="item-content">cm为，。</span></br>
										</li>
										<li class="body-describe-item clearfix">
											<span class="item-content">建议您每天少吃多餐，多运动，控制体重。</span></br>

											<span class="item-content">建议您参加生活方式训练营。</span>

										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="diet-structure-view">
						<div class="block-box">
							<div class="block-title">
								<div class="block-title-box">
									<p class="title"><span>饮食结构评价<!-- <img class="img" src="./images/icon-demo.png"> --></span></p>
								</div>
							</div>
							<div class="block-content">
								<div id="main" style="height:500px;border:1px solid #ccc;padding:10px;"></div>

							</div>
						</div>
					</div>
					<div class="food-analysis-view">
						<div class="block-box">
							<div class="block-title">
								<div class="block-title-box">
									<p class="title"><span>饮食分析结论<!-- <img class="img" src="./images/icon-demo.png"> --></span></p>
								</div>
							</div>
							<div class="block-content">
								<div class="food-analysis-title clearfix">
									<div class="title-item">食物分析</div>
									<div class="title-item">推荐值（克/毫升）</div>
									<div class="title-item">摄入量（克/毫升）</div>
									<div class="title-item">评价</div>
								</div>
								<div class="evaluation-box clearfix">
									<div class="evaluation-list">
										<span class="evaluation-item">偏低</span>
										<span class="evaluation-item">合理</span>
										<span class="evaluation-item">偏高</span>
									</div>
								</div>
								<ul class="food-analysis-list" id="resultTab">
								</ul>
								<div class="food-analysis-note" id="resultMemo">
									<div class="note-title">备注:</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="footer">
				<div class="wrap website-info">
					<p class="info-chinese">正生营养与健康管理中心</p>
					<p class="info-english">Nutrition and health manage centre</p>
				</div>
				<div class="bottom-bar">
					<img src="http://cloud.zeacen.com/images/rp/bottom-color.png" alt="">
				</div>
			</div>
			<div class="mprint end">
				<a style="text-decoration:none" onclick="saveReport(this);" class="btn btn-lg btn-success" href="javascript:void(0);">保存</a>
				<a style="text-decoration:none" onclick="printReport(this);" class="btn btn-lg btn-success" href="/report/command.ht?typeId=1&memberId=" target="_blank">打印</a>

			</div>

		</div>
	</div>
</div>
<!-- /Main Content -->
</div>
<script type="text/javascript">
    // Step:3 conifg ECharts's path, link to echarts.js from current page.
    // Step:3 为模块加载器配置echarts的路径，从当前页面链接到echarts.js，定义所需图表路径
    require.config({
        paths: {
            echarts: '/public/static/js'
        }
    });

    // Step:4 require echarts and use it in the callback.
    // Step:4 动态加载echarts然后在回调函数中开始使用，注意保持按需加载结构定义图表路径
    require(
        [
            'echarts',
            'echarts/chart/bar',
        ],
        function (ec) {
            //--- 折柱 ---
            var myChart = ec.init(document.getElementById('main'));

            var option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data:['推荐量','实际摄入量']
                },
                xAxis : [
                    {
                        type : 'category',
                        data : ["蔬菜","蛋类","谷物","深色蔬菜","水果","坚果","水产品","乳制品","畜禽肉","大豆","水","全谷物及杂豆","薯类"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"推荐量",
                        "type":"bar",
                        "data":[450, 50, 250, 225, 300, 10,50,300,50,15,1600,80,75]
                    },
                    {
                        "name":"实际摄入量",
                        "type":"bar",
                        "data":[5, 20, 400, 10, 10, 20]
                    }
                ]
            };

            // 为echarts对象加载数据
            myChart.setOption(option);
        }
    );
</script>

{/block}
</body>


{block name='other'}

</html>


{/block}